[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
selenium = "*"
chromedriver = "*"
chromedriver-autoinstaller = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.10"
